html{
  font-size: 16px;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}


header {
  display: flex;
  align-items: center;
  height:64px;
  border: 2px solid yellow;
  justify-content: space-between;
}

.header {

  padding-left: 24px;
  border: 2px solid black;
}
.logo span{
  font-size: 2rem;
  font-family: 'Nanum Gothic', sans-serif;
}
.main-logo{
  height: 2.5rem;
}

.logo  {
  display: flex;
  align-items: center;
  border: 4px solid red;
  height: 32px;
}
.colmar{
  font-weight: 900;
}
nav span {
  padding-right: 16px;

}
nav span a{
  text-decoration: none;
  color: #808080;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1.5rem;
}

nav span a:hover {
  text-decoration: none;
  color: #ADD8E6;
}
nav .sign-in{
  padding-right: 24px;
}
  .mobile-nav{
    display: none;
  }

@media only screen and (max-width: 760px) {
  nav span {
    display: none;
  }
.logo {
  display: none;
}
  .mobile-nav {
    display: flex;
    text-align: center;
    justify-content: space-around;
    width: 100%;
  }
  header{
    height: 64px;
  }
}
.banner{
  max-width: 100%;
  border: 5px dotted black;
  display: flex;
  background-color: #DDDDDD;
  justify-content: space-between;
}
.image-banner {

  padding: 32px 24px;
  border: 2px solid red;
  max-width: 60%;
}
img {
  max-width: 100%;
  border: 3px solid darkblue;
}

@media only screen and (max-width: 760px){

  .banner {
    display: flex;
    flex-direction: column;
    max-width: 100%;
  }
  .image-banner{
    max-width: 100%;
    padding: 0;
  }


  }


.learn{
  border: 5px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 40%;

}
.learn h2 {
  font-size:  3.5rem;
  font-weight: 900;
  line-height: 1.2;
  padding-bottom: 2rem;
  font-family: 'Nanum Gothic', sans-serif;
}
.learn p {
  font-size: 2rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}
.learn .box {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  padding-top:  8px;
  padding-bottom: 8px;
  background-color: grey;
  width: 13em;
}





/* Information Section */
.information {
  display: flex;
  border: 5px solid yellow;
  max-width: 100%;
}

.left {
  padding: 32px 24px;
  border: 4px solid green;
  max-width: 60%;

}
.left img{

  padding-bottom: 32px;



}
 h3{
  padding-bottom: 32px;
  font-size:  3rem;
}

.information  .text{

  padding-bottom: 32px;

}

 p {
  font-size: 24px;
}

.right{
  border: 5px solid brown;
  max-width: 40%;
  padding-top: 32px;

}
.university{
  display: flex;

  align-items: center;
}
.university img{
  max-width: 35%;
  padding: 0 16px 16px 16px;
  margin-right: 2px;
}

.text-university{
 max-width: 65%;
}

.text-university h2{
  font-size: 32px;
  line-height: 1.2;
  font-weight: 800;
}
.text-university p{
  font-size: 22px;
  line-height: 1.2;
}

.university .gap{
  padding-top:  8px;
  padding-bottom:  8px;
}

@media only screen and (max-width: 760px){
   img {
     max-width: 100%;
   }

   .right {
     display: flex;
     flex-direction: column;
     max-width: 100%;
   }
.learn {
  padding-left: 16px;
  padding-bottom: 32px;
}

.learn  h2{
  padding-top: 32px;

  padding-bottom: 32px;
}
.text-university{
  display: flex;
  flex-direction: column;

}
   .information .right {
     max-width: 100%;
   }
   .information .left{
     display: none;
}
}
.course {
 padding: 32px 72px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 border: 4px solid darkgreen;
 background-color: #DDDDDD;
}

.course .heading h1{
  font-family: 'Hind', sans-serif;
  font-size: 3rem;
}
 h1{
  font-size: 3.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top:  32px;
  padding-bottom: 32px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;

}
.individual{
  margin-bottom: 32px;
  width: 28%;
  margin-right: 32px;
  border: 4px solid darkblue;
  background-color: white;

}
.individual img{
  height: auto;


}
.course-content {
  padding: 16px 0 24px 16px;
}
.course-content h2{
  font-size: 28px;
  font-weight: 600;
  padding: 8px 0;
}
.course-content span{
  font-size: 1.5rem;
}

@media only screen and (max-width: 760px){
  .course .individual img,span{
    display: none;
  }
  .individual{
    display: block;
    border: 2px solid yellow;
    width: 100%;
  }
}









/* Theis Section */
.thesis {
  border: 5px solid yellow;
  max-width: 100%;
}
.extra{
  display: flex;
}
.thesis video{
  width: 100%;
  padding-bottom:  24px;
}

footer{

  padding: 16px 5px 32px 24px;

}

footer .connect{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  border: 5px solid green;
  padding-right: 4em;
}

.connect h4{
  font-size: 1.5rem;
  float: right;
  padding-bottom: 0.25em;
}
.connect .font-awesome i{
  padding-right: 9px;

}
footer .copyright{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

footer .terms-privacy span{
  padding-right: 8px;
}

footer span {
  font-size: 1rem;
}

.font-awesome{
  display: flex;
  justify-content: center;
}
.font-awesome i{
  width: 20px;
  height: 30px;
  margin-right: 15px;

  padding-right: 2px;

  color: #fff;
}

.font-awesome i:hover{
  color: #ADD8E6;
}
.fa-facebook{
  background-color: #3b5998;
}
.fa-twitter{
  background-color: #00aced;
}
.fa-instagram{
  background-color: #bc2a8d;
}
